<template name="indentedTree">
  <div class="post">
    <div class="post-content">
    <!--<p><b>JIRA Number</b></p>-->
    <!--<p>{{> indentedDataTreeTitle}}</p>-->
    <!--<p><b>Reviews</b></p>-->
    <!--{{> indentedDataTreeText}}-->
    <!--<p><b>Components</b></p>-->
    <!--{{> indentedDataTreeComponents}}-->
    </div>
  </div>
  {{> indentedDataTree}}
</template>

<template name="indentedDataTree">
  <div id="dataTree_indented"></div>
</template>

<!--<template name="indentedDataTreeTitle">-->
  <!--<div id="dataTree_indented_title"></div>-->
<!--</template>-->

<!--<template name="indentedDataTreeText">-->
    <!--<div id="dataTree_indented_text"></div>-->
<!--</template>-->

<!--<template name="indentedDataTreeComponents">-->
    <!--<div id="dataTree_indented_components"></div>-->
<!--</template>-->